<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="cn.tedu.store.mapper.DictMapper">


    <!-- 查询省 -->
    <select id="selectProvince" resultType="cn.tedu.store.bean.Province">
             select 
                   id,
                   province_code as provinceCode,
                   province_name as provinceName
             from t_dict_provinces
    </select>
    
    <!-- 查询城市 -->
    <select id="selectCity" resultType="cn.tedu.store.bean.City">
            select 
                 id,
                 province_code as provinceCode,
                 city_code as cityCode,
                 city_name as cityName
            from
                t_dict_cities
            where
                  province_code=#{provinceCode}
    
    </select>
    <!-- 查询区 -->
    <select id="selectArea" resultType="cn.tedu.store.bean.Area">
            select 
                  id,
                  city_code as cityCode,
                  area_code as areaCode,
                  area_name as areaName
            from
                 t_dict_areas
            where
                 city_code=#{cityCode}
    
    </select>
    
    <!-- 查询省 -->
    <!--String selectProvinceNameByCode(String provinceCode);  -->
    <select id="selectProvinceNameByCode" resultType="java.lang.String">
            select 
               province_name
            from 
               t_dict_provinces
            where
                province_code=#{provinceCode}
    </select>
    <!-- 查询市 -->
    <!-- String selectCityNameByCode(String cityCode); -->
    <select id="selectCityNameByCode" resultType="java.lang.String">
            select 
               city_name
            from 
               t_dict_cities
            where
                city_code=#{cityCode}
    </select>
    
    <!--  查询区县-->
    <!-- String selectAreaNameByCode(String areaCode); -->
    <select id="selectAreaNameByCode" resultType="java.lang.String">
            select 
               area_name
            from 
               t_dict_areas
            where
                area_code=#{areaCode}
    </select>

</mapper>

















