<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="cn.tedu.store.mapper.UserMapper">

    <!-- /**
	 * 修改个人头像
	 * @param image
	 * @param id
	 */
	void updateImageById -->
	<update id="updateImageById">
	     update  t_user
	        set
	             image=#{image}
	      where
	             id=#{id}
	</update>

    <!-- 通过idchaxun -->
    <select id="selectById" resultType="cn.tedu.store.bean.User">
          select  
              username,password,email,phone,image,gender,
              created_user as createdUser,
              created_time as createdTime,
              modified_user as modifiedUser,
              modified_time as modifiedTime 
          from   
               t_user
          where id=#{id}
          
    </select>
    <!-- 修改用户数据 -->
    <update id="update" parameterType="cn.tedu.store.bean.User">
          update t_user
          set 
               <if test="password!=null">
                   password=#{password},
               </if>
               <if test="username!=null">
                   username=#{username},
               </if>
               <if test="email!=null">
                   email=#{email},
               </if>
               <if test="phone!=null">
                   phone=#{phone},
               </if>
               <if test="gender!=null">
                   gender=#{gender},
               </if>
               modified_user=#{modifiedUser},
               modified_time=#{modifiedTime}
           where
                id=#{id}
    
    </update>

   <!--添加用户信息  -->
   <insert id="insert" parameterType="cn.tedu.store.bean.User">
         insert into t_user(
            username,password,email,phone,image,gender,
            created_user,created_time,modified_user,modified_time)
            values(
            #{username},#{password},#{email},#{phone},#{image},
            #{gender},#{createdUser},#{createdTime},#{modifiedUser},
            #{modifiedTime})
   </insert>
   
   <select id="selectByUsername" resultType="cn.tedu.store.bean.User">
   
           select id,username,password,email,phone,image,gender,
            created_user as createdUser,
            created_time as createdTime,
            modified_user as modifiedUser,
            modified_time as modifiedTime 
           from
               t_user
           where
               username=#{username}
   
   </select>
   
   
   <!--  -->
   <select id="selectByEmail" resultType="java.lang.Integer">
         select 
               count(email) 
         from
               t_user
         where 
               email=#{email}
   </select>
   
   <!-- 电话验证 -->
   <select id="selectByPhone" resultType="java.lang.Integer">
         select 
               count(phone) 
         from
               t_user
         where 
               phone=#{phone}
   </select>

</mapper>

















